@font-face {
    font-family: 'simhei';
    src: url('https://x0.ifengimg.com/ucms/2024/1213/1ddab50688f622c2686a236695b8e59a.woff2') format('woff2');
}

@font-face {
    font-family: 'SIMLI';
    src: url('https://x0.ifengimg.com/ucms/2024/1213/5decea918cc52ebd2e250b4f09369a3c.woff2') format('woff2');
}

@font-face {
    font-family: 'JinMeiMaoCao';
    src: url('https://x0.ifengimg.com/ucms/2024/0409/ee9d1c4bad06c47e5eb12896f4f055a4.woff2') format('woff2');
}

@font-face {
    font-family: 'HuaKangXinZhuan';
    src: url('https://x0.ifengimg.com/ucms/2024/1213/5cf393382916f51d5b0a5dcc6af2c158.woff2') format('woff2');
}

@font-face {
    font-family: 'HanYiTianMaXing';
    src: url('https://x0.ifengimg.com/ucms/2024/1213/549a299e0e0e398083de9ce28b08709c.woff2') format('woff2');
}

@font-face {
    font-family: 'HanYiZhongYuan';
    src: url('https://x0.ifengimg.com/ucms/2024/1213/cca4ee3d07232bf0c379010aec512e0a.woff2') format('woff2');
}

@font-face {
    font-family: 'Jxixinkai';
    src: url('https://x0.ifengimg.com/ucms/2024/1213/071cdbc8a88a7c29c73cc47f02fc7cc4.woff2') format('woff2');
}

@font-face {
    font-family: 'HKwawa';
    src: url('https://x0.ifengimg.com/ucms/2024/1213/c1f803378b0521d08bf6c732fc07e9ed.woff2') format('woff2');
}

@font-face {
    font-family: 'hyxkj';
    src: url('https://x0.ifengimg.com/ucms/2024/0808/1f5578f2671941e7ca84ca95f89eff20.woff2') format("woff2")
}

@font-face {
    font-family: 'AdobeHeiStd';
    src: url('https://x0.ifengimg.com/ucms/2024/0808/6e709c085b539ef900c27fa9e604b1a0.woff2') format("woff2")
}

html,
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    background-color: #5279e4;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.footer {
    background-color: #f1f1f1;
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-top: 20px;
}

.footer a {
    color: inherit;
    /* 继承父元素的颜色 */
    text-decoration: none;
    /* 无下划线 */
    color: var(--theme-font-color, #b6c4d4);
    text-decoration: none;
    vertical-align: middle;
    line-height: 1.5em;
    font-size: 16px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
}

.footer a:hover {
    color: inherit;
    /* 悬停时继承颜色 */
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: row;
    height: 88vh;
    width: 100%;
    max-width: 1200px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 2px auto;
    margin-top: 20px;
}

.preview {
    flex: 1;
    max-width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

textarea {
    width: 98%;
}

input,
textarea,
.traditional-output,
button {
    margin: 5px 0;
}

fieldset {
    border: 1px solid #cccccc;
    padding: 5px;
    margin: 5px 0;
}

legend {
    font-weight: bold;
    padding: 0 5px;
}

#card-container {
    display: flex;
}

#canvas-container {
    position: relative;
    width: 560px;
    max-width: 100%;
    padding-top: 140.34%;
}

#card-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    background-size: cover;
    background-position: center;
}

#image-upload {
    cursor: pointer;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #0056B3;
}

input[type="number"] {
    width: 70px;
}

#qi-bing {
    width: 70px;
}

#add-qi-bing {
    padding: 2px 10px;
    margin-left: 10px;
}

.qi-bing-item {
    display: inline-block;
    background-color: #f1f1f1;
    padding: 2px 8px;
    margin: 2px;
    border-radius: 5px;
}

.qi-bing-remove-btn {
    margin-right: 4px;
    cursor: pointer;
}

.skill-toggle {
    display: inline-block;
    cursor: pointer;
    background-color: #f1f1f1f1;
    padding: 2px 5px;
    margin: 0 5px;
    border-radius: 5px;
}

.label-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.editor {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 50px;
    max-height: 842px;
    overflow-y: auto;
}

.editor>* {
    width: 100%;
}

form .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form .form-inline {
    display: flex;
    gap: 10px;
    align-items: center;
}

.card-title {
    font-family: 'JinMeiMaoCao';
    font-size: 36px;
    color: #333;
    position: absolute;
    left: 20px;
    top: 20px;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

input[type="file"] {
    padding: 5px;
}

.radio-label {
    margin-right: 5px;
}

.hidden {
    display: none !important;
}

#confirm-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.dialog-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.delete-btn {
    background-color: #ff4d4d;
}

.delete-btn:hover {
    background-color: #cc0000;
}

/* Loading container styles */
.loading-container {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Loading spinner styles */
.loading-spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.loading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inline-wrapper {
    display: inline-flex;
    align-items: flex-end;
}

.inline-wrapper label {
    vertical-align: bottom;
}

.prompt {
    font-size: 10px;
    color: #999;
}

.traditional-output {
    margin-left: 10px;
    color: #555;
    font-style: italic;
    /* 斜体显示以区分 */
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.custom-checkbox {
    display: none;
    /* 隐藏默认复选框 */
}

.checkbox-label {
    width: 40px;
    /* 自定义复选框的宽度 */
    height: 20px;
    /* 自定义复选框的高度 */
    background-color: #ccc;
    /* 默认背景色 */
    border-radius: 10px;
    /* 圆角 */
    position: relative;
    /* 方便放置滑块 */
    transition: background-color 0.3s ease;
    /* 背景色渐变效果 */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    /* 添加阴影效果 */
    cursor: pointer;
    /* 鼠标悬停时显示为手型 */
}

.checkbox-label:after {
    content: "";
    width: 16px;
    /* 滑块宽度 */
    height: 16px;
    /* 滑块高度 */
    background-color: white;
    /* 滑块的背景色 */
    border-radius: 50%;
    /* 滑块圆角 */
    position: absolute;
    top: 2px;
    /* 上边距 */
    left: 2px;
    /* 左边距 */
    transition: transform 0.3s ease;
    /* 滑块移动效果 */
}

/* 当复选框被选中时 */
.custom-checkbox:checked+.checkbox-label {
    background-color: #3498db;
    /* 选中时的背景色 */
}

.custom-checkbox:checked+.checkbox-label:after {
    transform: translateX(20px);
    /* 滑块移动 */
}

/* 悬停时的效果 */
.checkbox-container:hover .checkbox-label {
    background-color: #73c3f8;
    /* 悬停时的背景色 */
}

.custom-divider {
    border-top: 2px solid #ccc;
    margin: 20px 0;
}

input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

.颜色,
.花色,
.技能名,
.效果标签 {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s;
    font-weight: bold;
    user-select: none;
}

.颜色:hover,
.花色:hover,
.技能名:hover,
.效果标签:hover {
    transform: scale(1.05);
}

.颜色:active,
.花色:active,
.技能名:active,
.效果标签:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transform: scale(0.95);
}

.颜色,
.花色 {
    background-color: rgb(255, 255, 255);
}

.颜色:hover,
.花色:hover {
    background-color: rgb(255, 255, 255);
}

.颜色.黑色 {
    color: rgb(0, 0, 0);
}

.颜色.红色 {
    color: rgb(240, 0, 0);
}

.花色 img {
    aspect-ratio: 1/1;
    width: 1em;
    transform: translateY(0.1em);
}

.技能名.普通 {
    background-color: rgb(250, 236, 193);
    color: rgb(0, 0, 0);
}

.技能名.伏击 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.效果标签.主动 {
    background-color: rgb(175, 0, 0);
}

.效果标签.触发 {
    background-color: rgb(55, 100, 200);
}

.效果标签.持续 {
    background-color: rgb(41, 129, 74);
}

.效果标签.奥秘 {
    background-color: #b761c2;
}

.效果标签.应变 {
    background-color: #d1a617;
}

.效果标签.持恒 {
    background-color: #00c9a7;
}

.效果标签.蓄力 {
    background-color: #bb3f04;
}